html,body{
	height: 100%;overflow-x: hidden;position: relative;
	background-image: url(img/bac.jpg);background-repeat: no-repeat;background-size: 100% 100%;
}
*{margin: 0;padding: 0;}
.maindiv
{
	width: 800px;height: 460px;box-shadow: 4px 8px 4px dimgray;
	margin-left: auto;margin-right: auto;margin-top:5%;
	position: relative;border-radius: 10px;
	background-image: url(img/picture5.jpg);background-size: 100% 100%; background-repeat: no-repeat;
}
ul
{
	width: 100%;height: 20px;
	margin-top:460px;float: left;
}
li
{
	list-style-type: none;float: left;
	height:50px;text-align: center;width:160px;
}
li>a{
	display: block;width:150px;height: 20px;margin-top: 15px;margin-left: 5px;border: 2px solid black;
	color:black;text-decoration: none;line-height: 20px;border-radius: 7px;box-shadow: 4px 4px 4px dimgray;
	}
img{width: 100%;height: 100%;}
.change1
{
	width: 100%;height: 100%;
	position: absolute;left: 0px;top: 0px;
	display: none;border-radius: 10px;overflow: hidden;
}
.change2
{
	width: 100%;height: 100%;
	position: absolute;left: 0px;top: 0px;
	display: none;border-radius: 10px;overflow: hidden;
}
.change3
{
	width: 100%;height: 100%;
	position: absolute;left: 0px;top: 0px;
	display: none;border-radius: 10px;overflow: hidden;
}
.change4
{
	width: 100%;height: 100%;
	position: absolute;left: 0px;top: 0px;
	display: none;border-radius: 10px;overflow: hidden;
}
.change5
{
	width: 100%;height: 100%;
	position: absolute;left: 0px;top: 0px;
	display: none;border-radius: 10px;overflow: hidden;
}
li:hover .change1{display: block;}
li:hover .change2{display: block;}
li:hover .change3{display: block;}
li:hover .change4{display: block;}
li:hover .change5{display: block;}
li:hover {border-color: red;}
li:hover a{color: red;font-size: 18px;font-weight: bolder;border-color: red;}